#main-navbar {
  background-color: blue;
  overflow: hidden;
}

#navbar-container {
  float: left;
  width: 100%;
  position: relative;
}

#main-navbar ul {
  list-style-type: none;
  left: 50%;
  position: relative;
  margin: 0;
  padding: 0;
  float: left;
}

#main-navbar ul li {
  float: left;
  display: block;
  position: relative;
  right: 50%;
}

#main-navbar ul li a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  display: block;
}

#main-navbar ul li a:hover {
  background-color: black;
}

#onpage {
  text-decoration-line: underline overline;
}

#sidebar {
  background-color: red;
  right: 0%;
  position: fixed;
  height: 100%;
  width: 20%;
}

#sidebar ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

#sidebar ul li a {
  display: block;
  padding: 15px 0;
  color: white;
  text-decoration: none;
}

#sidebar ul li a:hover {
  background-color: black;
}